name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2.7.1 # see https://github.com/rrousselGit/riverpod/blob/master/.github/workflows/build.yml for similar build
        with:
          channel: stable
      - name: Get Flutter version
        run: |
          flutter --version
      - name: Set the stage
        run: |
          flutter packages get
          dart format --set-exit-if-changed lib test
          flutter analyze lib test
      - name: Get Flutter coverage
        run: |
          flutter test --no-pub --coverage --test-randomize-ordering-seed random
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: -Dsonar.c.file.suffixes=- -Dsonar.cpp.file.suffixes=- -Dsonar.objc.file.suffixes=- -Dsonar.dart.lcov.reportPaths=coverage/lcov.info
